/*****************************
00. Mixins CSS
******************************/
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700|Tangerine:400,700&display=swap");
.owl-nav div {
  border-radius: 50%; }

.owl-nav div {
  display: inline-block; }

.boxed-btn {
  position: relative; }

.owl-nav div {
  position: absolute; }

.banner-area {
  background-size: cover;
  background-position: center;
  background-color: #ddd; }

.boxed-btn:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -1; }

.owl-nav div, .boxed-btn:after {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.owl-nav div {
  text-align: center; }

.owl-nav div {
  border-radius: 50%; }

.boxed-btn {
  font-family: "Quicksand", sans-serif; }

/*======fonts==============*/
/*=================== Reset CSS =====================*/
img {
  max-width: 100%;
  height: auto; }

a, a:hover, a:focus, a:active, button, button:focus,
input, input:focus, select, textarea, textarea:focus, .slick-slide, .slick-slide:focus, .slick-slide:active {
  outline: 0 solid; }

::-moz-selection {
  background: #90B1C3;
  color: #fff; }

::selection {
  background: #90B1C3;
  color: #fff; }

::-moz-selection {
  background: #90B1C3;
  color: #fff; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a, button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer; }

*:focus {
  outline: none !important; }

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

button, input[type=submit] {
  cursor: pointer; }

/*==============Common CSS===================*/
body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #000000; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: 600; }

p:last-child {
  margin-bottom: 0; }

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], textarea {
  border-radius: 0;
  height: 40px;
  padding: 5px 10px; }

.form-group {
  margin-bottom: 25px; }
  .form-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #F6921E; }
  .form-group .form-control:hover {
    border-color: #F6921E; }

input[type=submit], button[type=submit] {
  cursor: pointer; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #000000; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #000000; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #000000; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #000000; }

textarea {
  height: 150px;
  padding: 10px 20px;
  width: 100%;
  border-color: #ced4da;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  textarea:focus {
    border-color: #F6921E; }
  textarea:hover {
    border-color: #F6921E; }

/*========.section-title=========*/
.section-title {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase; }

.section-border {
  position: relative;
  display: inline-block; }
  .section-border:after, .section-border:before {
    position: absolute;
    left: -110px;
    top: 24px;
    width: 100px;
    height: 2px;
    background-color: #000;
    content: ""; }
  .section-border:before {
    left: auto;
    right: -110px; }

/*======.owl-dots customization=======*/
.owl-dots {
  text-align: center; }
  .owl-dots div {
    height: 5px;
    width: 5px;
    background-color: #BBBBBB;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%; }
    .owl-dots div.active {
      background-color: #0DA0F4; }

/*=====owl nav customization======*/
.owl-nav div {
  left: -10px;
  top: 50%;
  color: #2A7D2E;
  background-color: #fff;
  line-height: 60px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  font-size: 45px;
  padding-right: 5px; }
  .owl-nav div.owl-next {
    left: auto;
    right: -10px;
    padding-left: 5px;
    padding-right: 0; }
  .owl-nav div:hover {
    color: #ffffff;
    background-color: #2A7D2E; }

select {
  font-size: 19px;
  color: #0da0f4;
  background-color: #fff;
  padding: 8px 10px; }

/*========.nice-select=============*/
.nice-select {
  width: 100%;
  border-radius: 50px;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  border-color: #ced4da; }
  .nice-select .list {
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ced4da; }
  .nice-select:focus {
    border-color: #154D32; }
  .nice-select:hover {
    border-color: #154D32; }
  .nice-select:after {
    right: 25px;
    border-color: #ced4da;
    width: 10px;
    height: 10px;
    margin-top: -6px; }
  .nice-select:hover:after {
    border-color: #2A7D2E; }

/*=============== Header CSS ==================*/
.header-area {
  border-bottom: 1px solid #1B75BB;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  .header-area .site-logo {
    height: 107px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .header-area .site-logo img {
      max-width: 220px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }

.mainmenu ul li {
  display: inline-block; }
  .mainmenu ul li a {
    display: block;
    padding: 40px 15px 40px 15px;
    text-transform: uppercase;
    color: #000000;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  .mainmenu ul li:hover a {
    color: #F6921E; }

/*============== Footer CSS ================*/
.footer-area {
  background-color: #F3F3F3;
  padding: 15px 0; }
  .footer-area .single-footer.footer-right a:last-child {
    margin-right: 0; }
  .footer-area .single-footer.copyright-text {
    font-size: 14px;
    margin-top: 5px; }
  .footer-area .single-footer a {
    margin-right: 5px;
    display: inline-block; }
  .footer-area .single-footer i {
    font-size: 25px;
    opacity: .6;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
    .footer-area .single-footer i:hover {
      opacity: 1; }

.single-footer i.fa-facebook {
  color: #3b579d; }

.single-footer i.fa-instagram {
  color: #833ab4; }

.single-footer i.fa-twitter {
  color: #3acaff; }

.single-footer i.fa-youtube {
  color: #D52323; }

.single-footer i.fa-graduation-cap {
  color: #900028; }

.single-footer i.fa-calendar {
  color: #FD3952; }

.single-footer i.fa-info-circle {
  color: #91DC5A; }

.single-footer i.fa-envelope {
  color: #D74D55; }

/*=========== Button CSS ==========*/
.boxed-btn {
  background-color: #DB2D2E;
  padding: 8px 20px;
  font-weight: 600;
  font-size: 17px;
  border: 0;
  z-index: 2;
  text-transform: capitalize; }
  .boxed-btn:after {
    background-color: #323232;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0); }
  .boxed-btn:hover:after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1); }

.bordered-btn {
  border: 2px solid #2A7D2E;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  background: transparent; }
  .bordered-btn:hover {
    color: #154D32; }

.boxed-btn, .boxed-btn:hover {
  color: #ffffff; }

/*================Home Page CSS===============*/
.banner-area {
  height: 450px;
  position: relative;
  z-index: 2;
  margin-top: 108px; }
  .banner-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    background: white;
    background: -webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0.602455)));
    background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0.602455) 100%);
    background: -o-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0.602455) 100%);
    background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.602455) 100%); }
  .banner-area .banner-logo {
    margin-bottom: 40px; }
    .banner-area .banner-logo img {
      max-width: 400px; }
  .banner-area .banner-inner-wrap h2 {
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 60px;
    margin: 0; }

.about-area .about-text {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 70px; }

.about-area .mission-text {
  width: 780px;
  margin: 0 auto;
  margin-bottom: 70px; }

.about-area .vission-text {
  width: 780px;
  margin: 0 auto;
  margin-bottom: 80px; }

.team-area {
  background-color: #daf1ff;
  padding: 90px 0; }
  .team-area .col-lg-4:nth-child(1) {
    padding-right: 25px; }
  .team-area .col-lg-4:nth-child(2) {
    padding-left: 20px;
    padding-right: 20px; }
  .team-area .col-lg-4:nth-child(3) {
    padding-left: 25px; }
  .team-area .section-title {
    margin-bottom: 35px;
    color: #000; }
  .team-area .single-team-member {
    position: relative;
    z-index: 2;
    -webkit-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    background-color: #fff; }
    .team-area .single-team-member .team-member-text {
      padding: 20px; }
    .team-area .single-team-member .team-member-photo:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: black;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, black), to(rgba(0, 0, 0, 0)));
      background: -webkit-linear-gradient(bottom, black 30%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(bottom, black 30%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(0deg, black 30%, rgba(0, 0, 0, 0) 100%);
      content: "";
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease; }
    .team-area .single-team-member:hover .team-member-photo:after {
      opacity: .7;
      visibility: visible; }
    .team-area .single-team-member:hover .member-hover-content {
      opacity: 1;
      visibility: visible; }
    .team-area .single-team-member .team-member-photo {
      position: relative; }
    .team-area .single-team-member .member-hover-content {
      position: absolute;
      left: 0;
      bottom: 20px;
      right: 0;
      text-align: center;
      z-index: 3;
      color: #fff;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease; }
      .team-area .single-team-member .member-hover-content h3 {
        text-transform: uppercase;
        font-size: 22px;
        margin-bottom: 5px; }
      .team-area .single-team-member .member-hover-content ul {
        margin-top: 15px; }
        .team-area .single-team-member .member-hover-content ul li {
          display: inline-block; }
          .team-area .single-team-member .member-hover-content ul li a {
            display: block;
            margin: 0 7px; }
          .team-area .single-team-member .member-hover-content ul li:hover a {
            color: #F6972B; }

.service-area {
  padding: 60px 0 80px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .service-area .section-title {
    margin-bottom: 50px; }

.single-service {
  margin-bottom: 40px;
  overflow: hidden; }
  .single-service h3 {
    text-transform: uppercase; }
  .single-service.service-right {
    text-align: right; }
    .single-service.service-right .single-service-content img {
      float: right;
      max-width: 350px;
      margin-left: 15px;
      margin-bottom: 15px; }
  .single-service.service-left .single-service-content img {
    float: left;
    max-width: 350px;
    margin-right: 15px;
    margin-bottom: 15px; }

.contact-area {
  padding: 90px 0; }

.contact-area h3 {
  text-transform: uppercase;
  font-size: 24px; }

/*# sourceMappingURL=style.css.map */