/*=========== Button CSS ==========*/

.boxed-btn {
    background-color: #1B75BB;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    @extend %body-font;
    @extend %posrelative;
    z-index: 2;
    @extend %white-color;
    text-transform: uppercase;
    &:after {
        @extend %pseudoabsolute;
        background-color: #F6921E;
        transform: scaleY(0);
        @extend %basetransition;
    }
    &:hover:after {
        transform: scaleY(1);
    }
    &:hover {
        @extend %white-color;
        border: 0;
    }
}

