/*============== Footer CSS ================*/
.footer-area {
    background-color: #F3F3F3;
    padding: 15px 0;
    .single-footer{
        &.footer-right{
            a:last-child{
                margin-right: 0;
            }
        }
        &.copyright-text {
            font-size: 14px;
            margin-top: 5px;
        }
        
    }
}

