/*============== Footer CSS ================*/
.footer-area {
    background-color: #F3F3F3;
    padding: 15px 0;
    font-size: 14px;
    @include all-below-sm{
        text-align: center;
        .text-right{
            text-align: center !important;
        }
    }
    .terms-condition-link {
        a{
            color: #000000;
            transition: all .3s ease;
            line-height: 26px;
            &:hover{
                color: #F6921E;
            }
        }
    }
    .single-footer{
        &.footer-right{
            a:last-child{
                margin-right: 0;
            }
        }
        &.copyright-text {
            margin-top: 5px;
        }
        
    }
}

