/*=============== Header CSS ==================*/

// header-area
.header-area{
    border-bottom: 1px solid #1B75BB;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .site-logo{
        height: 107px;
        display: flex;
        align-items: center;
        transition: all .3s ease;
        img{
            max-width: 220px;
            transition: all .3s ease;
        }
    }
}
.mainmenu{
    ul{
        li {
            display: inline-block;
            &.active{
                a{
                    color: #F6921E;
                }
            }
            a {
                display: block;
                padding: 40px 15px 40px 15px;
                text-transform: uppercase;
                color: #000000;
                transition: all .3s ease;
            }
            &:hover{
                a{
                    color: #F6921E;
                }
            }
        }
    }
}


// .header-area.sticky-header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     transition: all .7s linear;
// }
// .sticky-wrapper.is-sticky .header-area {
//     background-color: #fff;
//     z-index: 999;
//     .site-logo {
//         height: 77px;
//         img {
//             max-width: 170px;
//         }
//     }
//     .mainmenu ul li a {
//         padding: 25px 15px 25px 15px;
//     }
// }
