/*=============== Header CSS ==================*/

// header-area
.header-area{
    background-color: #fff;
    width: 100%;
    z-index: 999999999 !important;
    -webkit-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 12px -10px rgba(0,0,0,0.75);
    position: relative;
    .site-logo{
        height: 107px;
        display: flex;
        align-items: center;
        transition: all .3s ease;
        @include  all-below-med{
            height: 77px;
        }
        img{
            max-width: 220px;
            transition: all .3s ease;
            @include  mx-desktops{
                max-width: 200px;
            }
            @include  all-below-med{
                max-width: 150px;
            } 
        }
    }
    @include all-below-med{
        .container{
            position: relative;
            .menu-bars {
                position: absolute;
                top: 25px;
                right:15px;
                cursor: pointer;
                @include all-below-sm{
                    right: 15px;
                }
                span {
                    display: block;
                    width: 35px;
                    height: 4px;
                    background-color: #1B75BB;
                    margin: 4px 0;
                }
            }
        }
        
    }
    
}
.mainmenu{
    ul{
        li {
            display: inline-block;
            &.active{
                a{
                    color: #F6921E;
                }
            }
            a {
                display: block;
                padding: 40px 15px 40px 15px;
                text-transform: uppercase;
                color: #000000;
                transition: all .3s ease;
                @include  mx-desktops{
                    padding: 40px 6px 40px 6px;
                }
            }
            &:hover{
                a{
                    color: #F6921E;
                }
            }
        }
    }
}

// Mobile menu
.mainmenu {
    @include all-below-med{
        position: fixed;
        right:-250px;
        top: 0;
        background-color: #fff;
        box-shadow: 0px 0px 10px -5px #000;
        width: 250px;
        text-align: center !important;
        height: 100%;
        padding: 40px 20px 0;
        z-index: 99999;
        transition: all .5s ease;
        &.active {
            right: 0;
        }
        .close-btn {
            position: absolute;
            left: 9px;
            padding: 10px;
            top: 0;
            cursor: pointer;
            transition: all .3s ease;
            &:hover {
                color: #F6921E;
            }
        }
    }
    @include all-below-med{
        ul {
            
            li {
                display: block;
                border-bottom: 1px solid #ddd;
                a {
                    padding: 10px 6px 10px 6px;
                }
                
            }
        }
    }
    
}


// .sticky-wrapper.is-sticky .mainmenu ul li a {
//     @include large-desktops{
//         padding: 25px 15px 25px 15px;
//         transition: all .7s ease;
//     }
//     @include  mx-desktops{
//         padding: 25px 6px 25px 6px;
//     }
// }
// .sticky-wrapper.is-sticky .site-logo {
//     @include desktops{
//         height: 77px;
//         transition: all .7s ease;
//     }
//     @include  all-below-med{
//         height: 77px;
//     }
// }
// .sticky-wrapper.is-sticky .site-logo img {
//     @include desktops{
//         max-width: 180px;
//         transition: all .7s ease;
//     }
//     @include  all-below-med{
//         max-width: 150px;
//     } 
// }

.header-top-area {
    background-color: #1B75BB;
    padding: 6px 0 7px;
    ul{
        li{
            display: inline-block;
            color: #fff;
            margin: 0 6px;
            opacity: .6;
            transition: all .5s ease;
            font-size: 16px;
            &:hover{
                opacity: 1;
            }
            a{
                margin-right: 5px;
                display: block;
                color: #fff;
            }
        }
    }
    .header-contact-info {
        margin-left: 10px;
    }
}





