/*****************************
00. Common CSS
******************************/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 15px;
  font-weight: 600; }

p:last-child {
  margin-bottom: 0; }

input[type=submit], button[type=submit] {
  cursor: pointer; }

input[type=submit]:hover, button[type=submit]:hover {
  background-color: #0DA0F4;
  color: #fff; }

.section-title h2 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 10px; }

/*
======.owl-dots customization=======
*/
.owl-dots div {
  height: 5px;
  width: 5px;
  background-color: #BBBBBB;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%; }

.owl-dots {
  text-align: center; }

.owl-dots div.active {
  background-color: #0DA0F4; }

/*
=====owl nav customization======
*/
.owl-nav div {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  color: #ADADAD;
  font-size: 50px;
  line-height: 60px;
  margin-top: -35px; }

.owl-nav div.owl-next {
  left: auto;
  right: 0px; }

.owl-nav div:hover {
  color: #0DA0F4; }

select {
  font-size: 19px;
  color: #0da0f4;
  background-color: #fff;
  border-radius: 5px;
  border: 0;
  padding: 8px 10px; }
